.basic-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basic-game-container p {
  user-select: none;
  margin: 25px;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .basic-game-container p {
    font-size: 3vh;
  }
}
