.basic-game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basic-game-container p {
  user-select: none;
  margin: 25px;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

.go-back-button {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding-inline: 10px;
  font-size: 20px;
  top: 0;
  left: 0;
  margin: 20px 20px;

  color: white;
  background-color: rgb(20, 181, 255);
  border: none;
  box-shadow: 0 0 5px black;
  border-radius: 15px;
  transition: all 0.3s;
}
.go-back-button:hover {
  background-color: rgb(20, 170, 255);
  box-shadow: 0 0 7px black;
  transform: scale(1.05);
}
.go-back-button:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 600px) {
  .basic-game-container p {
    font-size: 3vh;
  }
}
